* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    line-height: 1.5;
    font-family: Verdana,  Tahoma, sans-serif;
  }
  
  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }