/* These are variables for headings in the main section */
:root {
    --main-headings-left-margin: 80px;
    --main-headings-width: 150px;
    --main-headings-padding: 0 20px 20px 20px;
    --main-headings-font-color: grey;
    --main-headings-border-right: 3px solid var(--main-headings-font-color);
}

/* reset the font family, font size, and spacing between lines, for entire document. Also set background and text color */
body {
    line-height: 1.5;
    font-family: Verdana,  Tahoma, sans-serif;
    padding-bottom: 20px;
    margin-right: 60px;
}

/* make the header a flex container, with children laid out in a row. Set the background to cover the entire section */
.header {
    margin-top: 20px;
    margin-left: 60px;
    display: flex;
    flex-flow: row wrap;
    background: url("../images/header-background.jpg");
    background-size: cover;
} 

/* make the Profile a flex container, with children laid out in a row. */
.header-profile-container {
    display: flex;
    flex-flow: row wrap;
}

/* style the image of the developer */
.header-profile-container img{
    margin-top: 10px;
    height: 180px;
    width: 180px;
}

.header-profile-container h1 {
    margin-left: 40px;
    font-size: 2.2em;
    font-weight: 400;
}

/* style the navigation links of the Header section */
.header-nav-container {
    margin-top: 10px;
    flex: 1 1;
}

.header-nav-container ul {
    text-align: right;
}

.header-nav-container ul li{
    display: inline;
    margin: 0 5px;
}

/* sstyle the Quote of the day */
.header-aside-container {
    padding-top: 10px;
    flex: 100%;
    font-size: 1.8em;
    font-style: italic;
    font-weight: 500;
    color: red;
}

/* make the Main section a flex container, with children laid out in a column */
.main {
    display: flex;
    flex-flow: column nowrap;
}

/* make the About Me, Portfolio, and Contact Me sections a flex container, with children laid out in a row. */
.about, .portfolio, .contact   {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
}

/* style the headings in About Me, Portfolio, and Contact Me sections  */
.about h2, .portfolio h2, .contact h2 {
    width: var(--main-headings-width);
    margin-left: var(--main-headings-left-margin);
    padding: var(--main-headings-padding);
    border-right: var(--main-headings-border-right);
    color: var(--main-headings-font-color);
    text-align: right;
}

/* style the content in the About Me section */
.about p {
    flex: 1 1;
    padding: 0 20px 20px 20px;
}

/* make the Projects section a flex container, with children laid out in a row */
.projects-container {
    flex: 1 1;
    margin-left: 20px;
    display: flex;
    flex-flow: row wrap;
}

/* make the children of the Projects section a flex container, with children laid out in a row */
.project {
    display: flex;
    flex-flow: row wrap;
    flex: 40%; 
    padding: 5px 10px;
}

/* style the description of the project to make it overlap the image */
.project ul {
    align-self: end;
    margin: 0 0 20px 20px;
    position: absolute;
    background: white;
    z-index: 1;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: .9em;
}

/* make the technologies used smaller, in the Project description */
.project ul li:nth-child(2) {
    font-size: .8em;
}

/* make the links full width */
.project a {
    width: 100%;
}

/* style the images */
.project img {
    border-radius: 15px;
    box-shadow: 5px 5px gray;
    height: 200px;
    width: 100%;
}

/* make it look like a link, when you hover over an image */
.project img:hover {
    opacity: .7;
}

/* make the first Project larger */
.project:first-child {
    flex: 100%; 
}

/* make the image of the first Project larger */
.project:first-child img{
    height: 300px;
}

/* make the Contact form  a flex container, with children laid out in a row */
.contact-form {
    flex: 2 1;
    margin-left: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
}

/* style the inputs in the Contact form */
.contact-form input{
    font-size: 1em;
    margin: 0 10px 10px 10px;
    border:none;
    border-bottom: 1px solid var(--main-headings-font-color);
}

/* style the Send button in the Contact form */
.contact-form input[type="submit"]{
    font-size: .8em;
    border: 1px solid var(--main-headings-font-color);
    border-radius: 10px;
    width: 80px;
    padding: 3px;
}

/* make the text in the placeholder very faint, in the input text boxes of the Contact form */
.contact-form input::placeholder {
    opacity: .5;
    color: grey;
}

/* style the navigation links at the bottom of the page */
.contact-nav-container {
    flex: 1 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.contact-nav-container ul{
     display: flex;
     flex-flow: row wrap;
}

.contact-nav-container ul li{
    display: flex;
    align-items: end;
    margin: 0 15px;
}

/* change the appearance of the page to fit tablet size devices */
@media screen and (max-width: 768px) {
    body {
        font-size: .89em;
    }
    
    .project {
        flex: 100%; 
    }
}

/* change the appearance of the page to fit mobile size devices */
@media screen and (max-width: 390px) {
    body {
        font-size: .75em;
    }
    
    .header-profile-container h1{
        font-size: 1.5em;
    }

    .header-profile-container img{
        height: 80px;
        width: 80px;
    }

    .header-nav-container {
        order: 3;
    }

    .about h2, .portfolio h2, .contact h2 {
        margin-left: 0;
        font-size: 1.2em;
    }

    .project {
        flex: 100%; 
    }
}