/* 
.header, .header section, .header nav, .header aside, main, main section, main *  {
    border: 1px solid red;
} */

body {
    margin-right: 60px;
    /* background-color: rgb(221, 208, 208) */
}

.header {
    display: flex;
    flex-flow: row wrap;
    background: url("../images/header-background.jpg");
    background-size: cover;
} 

.header-profile-container {
    flex: 50%;
    display: flex;
    flex-flow: row nowrap;
}

.header-profile-container img{
    height: 220px;
    width: 220px;
}

.header-profile-container h1 {
    margin-left: 40px;
    flex: 100%;
    font-size: 2.2em;
}

.header-nav-container {
    flex: 50%;
}

.header-nav-container ul {
    text-align: right;
}

.header-nav-container ul li{
    display: inline;
    margin: 0 5px;
}

.header-aside-container {
    margin-top: -70px;
    padding-right: 100px;
    text-align: right;
    flex: 100%;
    font-size: 2em;
    font-style: italic;
    font-weight: 500;
    color: red;
}

.main {
    display: flex;
    flex-flow: column nowrap;
}

.about  {
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
}

.about h2 {
    width: 150px;
    margin-left: 50px;
    padding: 0 20px 20px 20px;
    text-align: right;
    border-right: 4px solid black;
    /* word-wrap: break-word; */
}

.about p {
    flex: 1 1;
    padding: 0 20px 20px 20px;
}

.portfolio {
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
}

.portfolio h2 {
    width: 150px;
    margin-left: 50px;
    padding: 0 20px 20px 20px;
    text-align: right;
    border-right: 4px solid black;
    /* font-size: 1.em; */
}

.projects-container {
    flex: 1 1;
    margin-left: 20px;
    display: flex;
    flex-flow: row wrap;
}

.project {
    display: flex;
    flex: 50%; 
    padding: 5px 10px;
}

.project ul {
    align-self: end;
    margin: 0 0 20px 20px;
    position: absolute;
    background: white;
    z-index: 1;
    padding: 8px;
    border-radius: 10px;
}

.project ul li:nth-child(2) {
    font-size: .7em;
}

.project a{
    width: 100%;
}

.project img {
    height: 200px;
    width: 100%;
}

.project img:hover {
    opacity: .7;
}

.project:first-child {
    flex: 100%; 
}

.project:first-child img{
    height: 300px;
    width: 100%;
}


.contact  {
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
}

.contact h2 {
    width: 150px;
    margin-left: 50px;
    padding: 0 20px 20px 20px;
    text-align: right;
    border-right: 4px solid black;
    word-wrap: break-word;
}

